:root {
  --primary: #fcc28c;
  --primary-border: #fd9c46;
  --accent: #706f6f;
  --bg: #444343;
  --font: 'Fredoka', sans-serif;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
    }

body {
  background: var(--bg);
  font-family: var(--font);
    }

.container {
  max-width: 800px;
  width: 100%;
  background-color: var(--bg);
  border-radius: 30px;
  border: 1px solid var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 40px;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_game {
  color: var(--primary-border);
}

.buttons_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30vw;
  padding: 20px;
}

.button_new-game,
.button_table-lider {
  padding: 10px;
  color: var(--bg);
  background-color: var(--primary);
  border-radius: 10px;
  border: 2px solid var(--primary-border);
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button_new-game:hover,
.button_table-lider:hover {
  background-color: var(--primary-border);
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.card {
  border-radius: 20px;
  background-color: var(--primary);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: var(--primary-border);
  transition: background-color 0.3s ease;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
}

.card.open img {
  opacity: 1;
}

.footer {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.score,
.pairs {
  color: var(--primary-border);
  font-size: 24px;
  margin-top: 10px;
}

/*Modal victory*/
.modal {
  margin: auto;
  border: none;
  border-radius: 20px;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

body.modal-open {
  overflow: hidden;
}

.victory-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
}

.buttons_modal {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.button_newgame_modal,
.button_close_modal {
  padding: 10px;
  color: var(--bg);
  background-color: var(--primary);
  border-radius: 10px;
  border: 2px solid var(--primary-border);
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button_newgame_modal:hover,
.button_close_modal:hover {
  background-color: var(--primary-border);
  transition: background-color 0.3s ease;
}